**/*.tfstate

#**/*.exe
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
**/*.zip
# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# do not track the shell script that sets up service principal information
set_azure_env.sh

# do not track terraform.tfvars that contains sensitive Azure account information
terraform.tfvars

# do not track submission directory
submission